@media not print {
  @media (max-width: 767px) {
    .banners-big .flex-control-nav,
    .title_block .nav-direction {
      display: block;
    }

    .front .flexslider .flex-control-nav {
      bottom: 15px;
    }
  }
}

@media not print {
  @media (max-width: 991px) {
    .banners-big .flex-direction-nav {
      display: block;
    }

    .banners-big .nav-carousel .flex-direction-nav li.flex-nav-prev {
      left: 0;
    }

    .banners-big .nav-carousel .flex-direction-nav li {
      opacity: 1;
      visibility: visible;
    }

    .flex-direction-nav a {
      visibility: visible;
    }
  }
}
